body {
    background-image: url("https://images.all-free-download.com/images/graphiclarge/flowers_background_dark_red_repeating_icons_pattern_6835476.jpg");
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}